.git
.cursor
.env
.env.*
.composer
.phpunit.cache
.phpunit.result.cache
.npm-cache
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
public/build
public/hot
npm-debug.log
yarn-error.log
